body { background-color: rgb(243, 54, 133);
    color: white;}
h1 {text-align: center;
    font-size: 50px;

}

#visadata {
    align-content: center;
    
    text-align: center;
    row-gap: 20px;
}

.chatfield {
    display: flex;
    justify-content: center;
    margin: 40px;
}